/*Preliminary Stuff Start*/
:root{
    --primary-color : #001524;
    --secondary-color :  #FDE5D4;
	--secondary-color-dark :  rgb(192, 190, 190);
    --light-color : #D6CC99 ;
	--light-color-dark: #9e935b; 
	--dark-color:  #445D48; 

}
html {
	scroll-behavior: smooth;
  }
body {
	font-family: 'Open Sans', sans-serif;
	background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
	margin: 0px;
}
/*Preliminary Stuff End*/
/*NavBar Stuff Start*/
nav{
	position: fixed;
	margin: 0px auto 0;
	width: 72vw;
	height: 5vh;
	background: var(--secondary-color);
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    right: 1vw;
	top: 1vh;
	z-index: 2;

}
nav ul {
	list-style: none; 
	padding: 0;
	margin: 0; 
	display: flex; 
	justify-content: space-between; 
  }
  
  nav ul li {
	display: inline; 
	text-align: center;
	width: 12vw;

  }
  
  nav ul li a {
	font-size: 15px;
	color: var(--dark-color);
	text-decoration: none;
	line-height: 5vh;
	position: inherit;
	z-index: 2;
	display: inline;
	text-align: center;
	
 
  }
nav ul .animation{
	position: absolute;
	height: 5vh;
	width: 12vw;
	top: 0;
	left: 0;
	z-index: -1;
	background: var(--light-color);
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav:hover  + #home >  #background-pattern{
	background-size: 11vmin 11vmin;
	opacity: 0.9;
}

#menu[data-active-index="0"]  + #home > #background-pattern{
	background-position: 0% -20% ;
}
#menu[data-active-index="1"] + #home  > #background-pattern{
	background-position: 0% -40% ;
}
#menu[data-active-index="2"] + #home > #background-pattern{
	background-position: 0% -60% ;
}
#menu[data-active-index="3"] +  #home > #background-pattern{
	background-position: 0% -80% ;
}
#menu[data-active-index="4"] + #home > #background-pattern {
	background-position: 0% -100% ;
}
#menu[data-active-index="0"] + #home > #background-pattern ~ #background-img{
	background-position: 0% 30% ;
}
#menu[data-active-index="1"] +  #home > #background-pattern ~ #background-img{
	background-position: 0% 35% ;
}
#menu[data-active-index="2"] + #home > #background-pattern ~ #background-img{
	background-position: 0% 40% ;
}
#menu[data-active-index="3"] + #home > #background-pattern ~ #background-img{
	background-position: 0% 50% ;
}
#menu[data-active-index="4"] + #home > #background-pattern ~ #background-img{
	background-position: 0% 55% ;
}
#background-pattern{
	height: 60vh;
	width: 100vw;


	background-image: radial-gradient(
		rgba(2255, 255, 255, 0.1) 9%,
		transparent 8%
	);
	background-position: 0% 0%;
	background-size: 12vmin 12vmin;
	
	position: absolute;
	left: 0;
	top: 20vh;
	z-index: -1;
	transition:
		opacity 800ms ease,
		background-size 800ms ease,
		background-position 800ms ease;
		
}

#background-img{
	height: 60vh;
	width: 100vw;
	margin-top: 20vh;
	z-index: -1;
	background-position: center 40%;
	background-size: 110vmax;
	background-repeat: no-repeat;
	opacity: 0.6;
	transition: all 800ms ease;
	animation: background-image-animation 15s infinite;
	background-image: url(Pictures/Landing-page/Landing-page.jpg);
	

}
@keyframes background-image-animation{

	20%{	
		background-image: url(Pictures/Landing-page/Landing-page-1.jpg);

	}
	40%{
		background-image: url(Pictures/Landing-page/Landing-page-2.jpg);

	}
	60%{
		background-image: url(Pictures/Landing-page/Landing-page-3.jpg);
		
	}
	80%{
		background-image: url(Pictures/Landing-page/Landing-page-4.jpg);

	}	
}
nav:hover + #home > #background-pattern ~ #background-img {
	background-size: 100vmax;
	opacity: 0.35;
}
nav:hover + #home > #background-pattern ~ #background-img ~ .landing h1{
	color: var(--light-color);
	opacity: normal;
}
.landing-h1{
	position: absolute;
	text-align: center;
	font-size: 70px;
	justify-content: center;
	color: var(--secondary-color);
	top: 26vh;
	left: 10vw;
	opacity: normal;
	z-index: 1;
	
}
/*NavBar Stuff End*/
/*Landing-page Stuff Start*/

/*Landing-page Stuff End*/
/*About-section Stuff Start*/
#about{


	z-index: -1;
	padding-top: 20vh;
	

}

#about .about-container{
	width: 100vw;
	background: var(--secondary-color);
	display: flex;


}
.about-container img{
	position: relative;
	border-radius: 3px;
	width: 25vw;
	border: solid var(--secondary-color-dark) 10px;
	margin: 2vw;
	object-fit: cover;
}
.about-container .about-text{
	display: flex;
	flex-direction: column;
}
.about-container .about-text .text-container1{
	background: var(--secondary-color-dark);
	margin: 2vw 2vw 0;


}
.about-container .about-text .text-container2{	
	background: var(--secondary-color-dark);
	height: 80%;
	margin: 2vw ;
}
.about-container .text-container1 h1{
	justify-content: baseline;
	text-align: center;

}
.about-container .text-container2 p{
	justify-content: center;
	text-align: center;
	margin: 2vw;

}



/*About-section Stuff End*/
/*Services-section Stuff Start*/
#services{
	z-index: -1;
	padding-top: 20vh;	
	margin-left: 10vw;
}

.container-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transform: translateX(-5%);
}

.service {
  text-align: center;
  background-color: var(--secondary-color);
  border: 5px solid var(--secondary-color-dark);
  border-radius: 8px;
  padding: 2vw;
  margin: 10px;
  width: 30%;
  transition: transform 0.3s ease-in-out;
}

.service h1 {
  font-size: 24px;
  margin-top: 10px;
}

.service p {
  font-size: 16px;
  margin-top: 10px;
}

.service img {
  max-width: 50%;
  aspect-ratio: 1;
  border-radius: 8px;
  object-fit: cover ;
}

.service:hover {
  transform: scale(1.05);
}


/*Services-section Stuff End*/
/*Gallery-section Stuff Start*/
#gallery{

	margin-left: 10vw;
	z-index: -1;
	padding-top: 20vh;
	
}
#gallery .container-gal{
	width: 80vw;
	height: 100%;
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;

}

img.img-gallery {
    width: 25vw;
    height: 100%;
    padding: 10px;
    object-fit: cover;
    
}
a.gallery{
    width: 500px;
    height: 100%;
	margin: 5px;   
}
div.gallery{
    display: flex;
	width: 60vw;
	height: 50vh;
	background: var(--secondary-color-dark);
    user-select: none;
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 0vw 0vw 3vw 10vw;
}
div.gallery {
	scroll-behavior: smooth;
}

div.gallery::-webkit-scrollbar {
	height: 20px;
}
  
div.gallery::-webkit-scrollbar-track {
	background: var(--secondary-color-dark);
	box-shadow: inset 0 3px 6px rgb(128, 128, 128);
}
  
div.gallery::-webkit-scrollbar-thumb {
	background: rgb(160, 160, 160);
	border-radius: 6px;
}
  
div.gallery::-webkit-scrollbar-thumb:hover {
	background: var(--light-color);
}
  
div.gallery::-webkit-scrollbar-button:start:decrement {
	display: block;
	background-image: url('Pictures/left-arrow.png');
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}
  
div.gallery::-webkit-scrollbar-button:end:increment {
	display: block;
	background-image: url('Pictures/right-arrow.png');
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}
  
div.gallery::-webkit-scrollbar-button:start:decrement:hover{
	background-image: url(Pictures/left-arrow-hover.png);
}
div.gallery::-webkit-scrollbar-button:end:increment:hover {
	background-image: url(Pictures/right-arrow-hover.png);
}
h1.gallery-title {
    font-size: 30px;
    text-align: center;
}

/*Gallery-section Stuff End*/
/*Review-section Stuff Start*/
#review{
	padding: 10vw 0;
}
.testimonials{
	padding: 40px 0;
	background: var(--secondary-color);
	color: var(--dark-color);
	text-align: center;

}
.inner{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;

}
.border{
	width: 160px;
	height: 5px;
	background: var(--light-color);
	margin: 26px auto;

}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.col{
	flex: 33.33%;
	max-width: 33.33%;
	page-break-inside: border-box;
	padding: 15px;
}
.testimonial{
	background-color: var(--secondary-color-dark);
	padding: 20px;

}
.testimonial img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}
.name-review{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}
.stars{
	color: gold;
	margin-bottom: 20px;
	
}
@media screen and (max-width:960px){
	.col{
		flex: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width:600px){
	.col{
		flex: 100%;
		max-width: 100%;
	}
}
/*Review-section Stuff End*/
/*Contact-section Stuff Start*/
#contact{
	padding: 10vh 0;
	z-index: -1;
}
.container-contact{
	width: 100vw;
	height: 50vh;
	padding-bottom: 10vw;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -2;
	

}
form{
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
	margin: 2vw 0;
}
form h3{
	color: var(--primary-color);
	font-weight: 800;
	margin-bottom: 20px;

}
form input, form textarea{
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: var(--secondary-color-dark);
	font-size: 16px;
}
form textarea{
	font-family: 'Open-sans',sans-serif;
}
form button{
	padding: 15px;
	background-color: var(--light-color);
	color: var(--dark-color);
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}
form button:active{
	background-color: var(--light-color-dark);
}



/*Contact-section Stuff End*/
/*Footer Stuff Start*/
#footer{
	background-color: var(--light-color-dark);
	width: 100%;
	height: 5vw;
}
/*Footer Stuff End*/

@media screen and (max-width:800px)
{
    nav{
		margin-right: 13vw;
      	position: fixed;
	  
    }
    nav ul li a
    {
        font-size: 10px;		

    }
	.about-container .text-container1 h1{
		justify-content: center;
		text-align: center;
		font-size: 18px;
	
	}
	.about-container .text-container2 p{
		justify-content: center;
		text-align: center;
		margin: 2vw;
		font-size: 10px;
	
	}

	div.gallery{
		height: 60%;
		margin: 0 0 1vw 10vw;
	}
	.service{
		width: 100%;
	}
	.container-contact{
		width: 70vw;
		padding: 15vw;
	}
   
}
@media screen and (max-width:650px)
{
	div.gallery{
		height: 60%;
		margin: 0 0 1vw 10vw;
	}
	
}


